
/* GENERAL STUFF */
body {
  background-color: lightgrey;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

div {
  box-sizing: border-box;
}
a{
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: inherit;
}
.centered{
	margin-left: auto;
	margin-right: auto;
}

#container {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  max-width: 736px;
}

#header {
  background-color: #BED970;
  border-bottom: 1px solid #000000;
  height: 50px;
}

#logo {
  background: url("../images/logo.png") no-repeat center left;
  background-origin: content-box;
  float: left;
  font-size: 2em;
  font-weight: 900; /* black */
  height: 50px;
  letter-spacing: .05em;
  line-height: 50px;
  padding-left: .5em;
  width: 20%;
}

#title {
  font-size: 2em;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

#menu {
  background: url("../images/menu.png") no-repeat center right;
  background-origin: content-box;
  float: right;
  height: 50px;
  padding-right: .5em;
  width: 20%;
}

/* INDEX STUFF */
#buttonTable{
	padding-top: 50px;
	padding-bottom: 50px;
}
#buttonTable a{ color: inherit; }
#buttonTable a:visited{ color: inherit; }
.indexButton{
	width: 100px;
	height: 100px;
	border-radius: 20px;
	float: left;
}
.indexButton:active{
	position: relative;
	top: 2px;
}
.indexButton:focus {outline:0;}

#checkinButton{
	background: url("../images/check.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
#eventsButton{
	background: url("../images/events.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
#diaryButton{
	background: url("../images/diary.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.indexButtonText{
	font-size: 20pt;
	float: left;
	padding-left: 20px;
}

/* EVENTS STUFF */
#tabs {
  height: 60px;
  font-size: 2em;
  font-weight: 600; /* semi-bold */
  line-height: 60px;
  text-align: center;
}

#upcoming {
  border-right: 1px solid #000000;
  float: left;
  height: 100%;
  width: 50%;
}

#past {
  background-color: #DDDDDC;
  border-bottom: 1px solid #000000;
  float: right;
  height: 100%;
  width: 50%;
}

#events {
  clear: both;
}

.event {
  border-bottom: 1px solid #DDDDDC;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.event:hover {
  background-color: #DDDDDC;
}

.event .title {
  float: left;
  font-size: 1.5em;
  width: 70%;
}

.event .date {
  float: right;
  font-size: 1.2em;
  font-weight: 300; /* light */
  width: 30%;
}

/* MY DIARY STUFF */
#diaryEvents{
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.diaryEvent{
	padding-bottom: 20px;
	border-bottom: 1px solid #DDDDDC;
}
.diaryEvent .title{
	font-size: 1.5em;
	font-weight: bold;
}
.diaryEvent img{
	padding-right: 10px;
	width: 25%;
	float: left;
}
.diaryEvent .text{
	font-size: 1em;
	text-overflow: ellipses;
    overflow: hidden;
}
.more{
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.button{
	width: 100%;
	margin-top: 10px;
	background-color: #DDDDDC;
	border: 1px solid grey;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.button:active{
	position: relative;
	top: 2px;
}
.button:focus {outline:0;}

/* EDIT ENTRY STUFF */
#back{
	float: left;
	font-size: 2em;
	font-weight: 600;
	height: 50px;
	letter-spacing: .05em;
	line-height: 50px;
	padding-left: .5em;
	width: 20%;
}