/* GENERAL STUFF */

body {
  background-color: lightgrey;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}

div {
  box-sizing: border-box;
}

a {
  /* color: inherit; */
  color: #5CC0DE;
  font-weight: 600;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

h3 {
  margin-top: 2em;
}

#container {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

#container a{
  color: darkgrey;
}

#header {
  background-color: #BED970;
  border-bottom: 1px solid #000000;
  height: 100px;
}

#logo {
  //background: url("/images/logo.png") no-repeat center left;
  background-origin: content-box;
  background-size: contain;
  float: left;
  font-size: 4em;
  font-weight: 900; /* black */
  height: 100px;
  letter-spacing: .05em;
  line-height: 70px;
  padding-top: 10px;
  width: 20%;
}

#title {
  font-size: 2em;
  float: left;
  height: 100px;
  line-height: 100px;
  text-align: right;
  text-transform: uppercase;
  width: 60%;
}

#menu {
  cursor: pointer;
  font-size: x-large;
  //background: url("../images/menu.png") no-repeat center right;
  background-origin: content-box;
  background-size: contain;
  float: right;
  height: 100px;
  padding-right: .5em;
  padding-top: 20px;
  //width: 20%;
}

.navbar-nav .open .dropdown-menu {
  //height: 30%;
  width:100%;
  font-size: xx-large;
  position: inherit;
  background: #BED970;
}

/* Buttons */

.button-size{
  padding: 20px;
  width: 225px;
  height: 20%;
  color: #404040;
}

.button {
  background-color: #DDDDDC;
  /* background-color: #5CC0DE; */
  border: 1px solid #979797;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
  height: 1.7em;
  margin-top: 1em;
  outline: 0;
  width: 100%;
}

.button:active {
  position: relative;
  top: 2px;
}

.button:hover {
  /* background-color: #DDDDDC; */
  background-color: #5CC0DE;
}

.button:focus {
  outline: 0;
}

/* INDEX STUFF */

#buttonTable {
  padding-top: 100px;
  padding-bottom: 50px;
}

#buttonTable a {
  color: inherit;
}

#buttonTable a:visited {
  color: inherit;
}

.indexButton {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  float: left;
}

.indexButton:active {
  position: relative;
  top: 2px;
}

.indexButton:focus {
  outline: 0;
}

#checkinButton {
  background: url("../images/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#eventsButton {
  background: url("../images/events.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#diaryButton {
  background: url("../images/diary.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.indexButtonText {
  font-size: 3em;
  float: left;
  padding-left: 20px;
}

/* EVENTS STUFF */



#tabs {
  height: 50px;
  font-size: 1.5em;
  font-weight: 600; /* semi-bold */
  line-height: 50px;
  text-align: center;
}

#upcoming {
  background-color: #FFFFFF;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #DDDDDC;
  float: left;
  height: 100%;
  width: 50%;
}

#past {
  background-color: #DDDDDC;
  border-bottom: 1px solid #000000;
  float: right;
  height: 100%;
  width: 50%;
}

#events {
  background-color: #FFFFFF;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  clear: both;
}

.event {
  border-bottom: 1px solid #DDDDDC;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.event:hover {
  background-color: #DDDDDC;
}

.event .title {
  float: left;
  font-size: 1.2em;
  width: 70%;
}

.event .date {
  float: right;
  font-size: 1em;
  font-weight: 300;
  /* light */
  width: 30%;
}

/* EVENT INFO STUFF */

#event-tab {
  border-bottom: 1px solid #000000;
  height: 100px;
  font-size: 2em;
  font-weight: 600; /* semi-bold */
  line-height: 100px;
  text-align: center;
}

#event-date {
  font-size: 1.25em;
  font-weight: 300;
  text-align: center;
  padding-top: 1em;
}

#event-container {
  padding: 0 1em 1em 1em;
}

#event-info {
  padding: 0 1em;
  text-align: left;
}

.map {
  border: 1px solid #979797;
  display: block;
  height: auto;
  margin: 2em auto 2em auto;
  text-align: center;
  vertical-align: middle;
  max-width: 90%;
}

#attendees {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.attendee {
  text-align: center;
  font-size: 1.5em;
}

.placeholder {
  background-color: #DDDDDC;
  height: 70px;
  margin: auto;
  margin-bottom: .5em;
  width: 70px;
}

#more {
  clear: both;
  float: right;
  padding-top: .75em;
  padding-right: 1em;
}

.post {
  border: 1px solid #DDDDDC;
  box-sizing: border-box;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.post p {
  color: #979797;
}

i.fa.fa-heart.like {
  color: #F26D61;
  font-size: 0.8em;
  padding-right: 2em;
}

.post-links {
  text-align: right;
}

.user-post {
  color: #979797;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin-top: 0;
  resize: none;
  width: 100%;
}

/* User Post placeholder text color */

.user-post::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #DDDDDC;
}

.user-post:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #DDDDDC;
  opacity: 1;
}

.user-post::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #DDDDDC;
  opacity: 1;
}

.user-post:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #DDDDDC;
}

.user-post-links {
  height: auto;
  margin-bottom: 1.5em;
  text-align: right;
}

.user-post-links a {
  /* background-color: #5CC0DE; */
  background-color: #FFFFFF;
  border: 1px solid #979797;
  color: #000000;
  padding: 0.25em 1.25em;
}

.user-post-links a:hover {
  /* background-color: #FFFFFF; */
  background-color: #5CC0DE;
}

/* MY DIARY STUFF */

#diaryEvents{
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.diaryEvent{
	padding-bottom: 30px;
	border-bottom: 1px solid #DDDDDC;
}
.diaryEvent .title{
	font-size: 1.5em;
	font-weight: bold;
}
.diaryEvent img{
	margin-right: 20px;
	width: 33%;
	float: left;
}
.diaryEvent .text{
	font-size: 1em;
	text-align: left;
}

/* EDIT ENTRY STUFF */

#back{
  float: left;
  font-size: 2em;
  font-weight: 600;
  width: 20%;
  position: relative;
  top: 10px;
}

.editor{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  border: 1px solid grey;
  width: 100%;
  background: buttonface;
}

#toolbar{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  background: buttonface;
}

.toolbarButton{
  margin-right: 20%;
  border: 0;
  text-align: center;
  cursor: default;
  font-size: 1.5em;
}

.clickedButton{
  border: 1px;
  background: grey;
}

.boldButton{
  font-weight: bold;
}

.italicButton{
  font-style: italic;
}

.underlineButton{
  text-decoration: underline;
}

#camIconTd{
  width: 50%;
}

.cameraButton{
  cursor: pointer;
  position: relative;
  height: 30%;
}

.content{
  background: buttonface;
}

#contentArea{
	width: 100%;
	font-size: 1em;
}

.photoMenu{
  display: none;
  text-align: center;
  background: buttonface;
  padding: 7px;
  font-size: 2em;
  color: black;
}

#saveButton{
	padding-bottom: 50px;
	width: 90%;
}

/* PROFILE STUFF */
.fonts{
  font-size: xx-large;
}
.form-horizontal .control-label{
  text-align: left;
}
