<% provide(:title, "About") %>

<div>
  <h4 class="section-title">Our Mission</h4>
  <p class="about-text">
    Union Capital Boston transforms social capital into opportunity by rewarding community.
    UCB is an approach to overcome poverty trap for individuals, families, and communities. 
    We are a mobile-based loyalty program for low-income families that provides social and financial 
    service rewards in exchange for community involvement in schools, health centers, and civic programs.
  </p>
</div>
<hr/>
<div>
  <h4 class="section-title">Our Vision</h4>
  <p class="about-text">Ongoing community collaboration will create equity for all.</p>
</div>