<div class="center jumbotron">
  <a href="#">
    <button type="button" class="btn btn-lg active button-size">
      <i class="fa fa-check-square-o fa-5x"></i>&nbsp;
      <span>CHECK-IN</span>
    </button>
  </a>
</div>
<div>
  <a href="events/upcoming.html">
    <button type="button" class="btn btn-lg active button-size">
      <i class="fa fa-calendar fa-5x"></i>&nbsp;
      <span>EVENTS</span>
    </button>
  </a>
</div>
<div>
  <a href="diary/diary.html">
    <button type="button" class="btn btn-lg active button-size">
      <i class="fa fa-pencil-square-o fa-5x"></i>&nbsp;
      <span>MY DIARY</span>
    </button>
  </a>
</div>