<div clas="row">
  <div class="col-md-3 center-block">
    <a class="home-option" href="#">
      <button class="btn btn-primary btn-lg home-option">
        <i class="fa fa-check-square fa-5x button-logo"></i>
        <span class="button-text">CHECK IN</span>
      </button>
    </a>
    <a class="home-option" href="events/upcoming.html">
      <button class="btn btn-primary btn-lg home-option">
        <i class="fa fa-calendar fa-5x button-logo"></i>
        <span class="button-text">EVENTS</span>
      </button>
    </a>
    <a class="home-option" href="diary/diary.html">
      <button class="btn btn-primary btn-lg home-option">
        <i class="fa fa-pencil-square fa-5x button-logo"></i>
        <span class="button-text">MY DIARY</span>
      </button>
    </a>
  </div>
</div>